<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База данных птичьих голосов</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>

    <header>
        <p class="title">Птичьи голоса</p>
    </header>

    <main>
        <div class="nightingale">
            <div class="picture_nightingale"><img src="https://img2.akspic.ru/originals/2/0/0/4/84002-muholovok-ekosistema-zhivaya_priroda-solovej-ptica-1920x1080.jpg" width="500" height="281"></div>
            
            <div id="first_name">Соловей</div>

            <div class="audio_first"><audio src="..\static\voices\solovei.mp3" controls></audio></div>

            <div class="wiki_nightingale"><button class = "button1" url="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BB%D0%BE%D0%B2%D1%8C%D0%B8">Узнать больше</button></div>
        </div>

        <br>

        <div class="starling">
            <div class="picture_starling"><img src="https://look.com.ua/pic/201710/1920x1080/look.com.ua-249961.jpg" width="500" height="281"></div>

            <div id="second_name">Скворец</div>

            <div class="audio_second"><audio src="..\static\voices\Skvorec.mp3" controls></audio></div>
            
            <div class="wiki_starling"><button class="button2" url="https://ru.wikipedia.org/wiki/%D0%A1%D0%BA%D0%B2%D0%BE%D1%80%D1%86%D1%8B">Узнать больше</button></div>
        </div>

        <br>

        <div class="woodpecker">
            <div class="picture_woodpecker"><img src="https://i.artfile.me/wallpaper/30-09-2014/1920x1080/zhivotnye-dyatly-suk-dyatel-871325.jpg" width="500" height="281"></div>
           
            <div id="third_name">Дятел</div>
            
            <div class="audio_third"><audio src="..\static\voices\dyatel.mp3" controls></audio></div>
            
            <div class="wiki_woodpecker"><button class = "button3" url="https://ru.wikipedia.org/wiki/%D0%94%D1%8F%D1%82%D0%BB%D0%BE%D0%B2%D1%8B%D0%B5">Узнать больше</button></div>

        </div>

        <script>
            $('button').on('click', function(){     
                window.location.href = $(this).attr('url');
            });
        </script>
    </main>

</body>
</html>