.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt; 
    text-align: center;   
}


#first_name, #second_name, #third_name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}



.audio_first, .audio_second, .audio_third {
    display: block;
}

.button1, .button2, .button3 {
    padding:10px;
}

.nightingale, .woodpecker, .starling {
    justify-content: space-around;
    display:flex;
    align-items: center;
}

.wiki_starling, .wiki_nightingale, .wiki_woodpecker{
    
}

.picture_nightingale {
    

}