.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40pt;
    text-align:center;
}

.picture_nightingale {
    text-align: left;

}

#first_name, #second_name, #third_name {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    text-align: center;
    bottom:185px;
    right: 40px;

}

.wiki_starling, .wiki_nightingale, .wiki_woodpecker{
    position: relative;
    text-align:right;
    bottom:317px;
    right:40px;

    
}


.audio_first, .audio_second, .audio_third {
    
    text-align:center;
    left:850px;
    bottom:620px;
    right: 40px;
}

.button1, .button2, .button3 {
    padding:10px;
}